<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <welcome-file-list>
    <welcome-file>firstPage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>addEmployee</servlet-name>
    <servlet-class>com.image.addEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addEmployee</servlet-name>
    <url-pattern>/addEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayData</servlet-name>
    <servlet-class>com.image.DisplayData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayData</servlet-name>
    <url-pattern>/DisplayData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>retriveImage</servlet-name>
    <servlet-class>com.image.retriveImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>retriveImage</servlet-name>
    <url-pattern>/retriveImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadDownloadFileServlet</servlet-name>
    <servlet-class>com.image.servlet.UploadDownloadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadDownloadFileServlet</servlet-name>
    <url-pattern>/UploadDownloadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadFileServlet</servlet-name>
    <servlet-class>com.image.servlet.DownloadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFileServlet</servlet-name>
    <url-pattern>/DownloadFileServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>UploadFileLocation</param-name>
    <param-value>C:\\tempSplitImage\\</param-value>
  </context-param>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>